.SignupForm {
    background-color: #E7CBCB;
    padding: 20px;
    height: 100vh;
    font-family: "Roboto";
}

.signup-button {
    background: #643843 !important;
    border: #643843 !important;
    margin-top: 20px;
}

.signup-label {
    margin: 10px 0px;
}

#inputEmail,
#inputPassword {
    transform: none !important;
    box-shadow: none !important;
    background: white !important;
    border: none !important;
}