.HomePage{
    width: 100%;
}

.first-part{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #E7CBCB;
    width: 100%;
    padding-bottom: 30px;
}

.left {
    display: flex;
    justify-content: center;
}

.left-pic{
    box-shadow: rgba(153, 98, 122, 0.12) 0px 2px 4px 0px, rgba(153, 98, 122, 0.32) 0px 2px 16px 0px;
    width:90%;
    animation-duration: 0.7s;
    animation-name: slidein-left;
}

.right {
    display: flex;
    flex-direction: column;
}

.right h1{
    font-size:2rem;
    font-family: "Roboto", sans-serif;
    margin-bottom:-20px;
    font-weight: 400;
    animation-duration: 0.7s;
    animation-name: slideintext-right;
}

.right-pic{
    box-shadow: rgba(153, 98, 122, 0.12) 0px 2px 4px 0px, rgba(153, 98, 122, 0.32) 0px 2px 16px 0px;
    width: 95%;
    animation-duration: 0.7s;
    animation-name: slidein-right;
}

.subtitle-homepage{
    font-size: 1.5rem;
    font-family: "Dancing Script", cursive;
    color: #99627A;
    animation-duration: 0.7s;
    animation-name: slideintext-right;
    margin-bottom: 0px;
    }

.second-part h2{
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #643843;
    padding: 10px 20px;
}

.second-part h3 {
    font-size: 1.5rem;
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    color: #99627A;
}

.characteristics{
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

.info{
    line-height: 1rem;
    padding: 0px 20px;
    color: #643843;
}

.img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding:30px;
}

.handmade-pic{
    width:80%;
    box-shadow: rgba(153, 98, 122, 0.12) 0px 2px 4px 0px, rgba(153, 98, 122, 0.32) 0px 2px 16px 0px;
}

.svg-hover:hover{
    fill:#99627A;
}

.third-part {
    background-color:#E7CBCB
}

.delivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.fourth-part h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #99627A;
    margin-bottom: -10px;
}

@media screen and (min-width:992px){
    .right h1 {
            font-size: 4rem;
            margin-bottom: -30px;
        }

    .subtitle-homepage {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

    .second-part{
            padding: 0px 80px;
        }

    .second-part h2 {
            font-size: 3rem;
        }
                
    .second-part h3 {
            font-size: 2rem;
        }

    .info {
            padding: 0px 45px;
        }

    .second-part {
            display: flex;
        }

    .img {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    
    .fourth-part {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
}

@keyframes slideintext-right {
    from {
        margin-left: 30%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein-right {
    from {
        margin-left: 30%;
        width: 95%;
    }

    to {
        margin-left: 0%;
        width: 95%;
    }
}

@keyframes slidein-left {
    from {
        margin-right: 30%;
        width: 90%;
    }

    to {
        margin-right: 0%;
        width: 90%;
    }
}