.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E7CBCB;
}

.NavBar a {
    display: inline-flex;
    text-decoration: none;
    font-size: 1.4rem;
    color:#643843;
    font-weight: 500;
}

.NavBar a:hover{
    font-weight: 700;
}


.NavBar svg:hover {
    stroke-width: 1;
    width:21px;
    height:21px
}

.logo{
    width:40%;
}

@media screen and (min-width:992px) {
    .logo {
        width: 15%;
    }

    .NavBar a {
        padding: 0px 20px;
    }
}